@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Typography */
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
  &._sm {
    font-size: 20px;
  }
}
h5 {
  font-size: 18px;
  &._sm {
    font-size: 16px;
  }
}
h6 {
  font-size: 14px;
  &._sm {
    font-size: 12px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.2em;
}

p {
  font-size: 16px;
  line-height: 1.8em;
  &._sm {
    font-size: 14px;
  }
}

@mixin typography-768 {
  h3 {
    font-size: 28px;
  }
}
@mixin typography-580 {
  h3 {
    font-size: 26px;
  }
}
@mixin typography-460 {
  h3 {
    font-size: 24px;
  }
}
@mixin typography-390 {
  h4 {
    font-size: 20px;
  }
}
