:root {
  --primary: #14b8a6;
  --white: #fff;
  --white-2: rgba(255, 255, 255, 0.24);
  --white-3: #f4f4f4;
  --white-4: rgba(255, 255, 255, 0.92);
  --black: #0f172a;
  --black-2: #000;
  --black-3: #64748b;
  --black-4: rgba(0, 0, 0, 0.48);
  --red: #ef4444;
  --blue: #6366f1;
  --violet: #c4b5fd;
  --violet-2: #ede9fe;
  --gradient: linear-gradient(135deg, rgba(76, 29, 149, 0) 0%, #4c1d95 100%);
}

:root[data-theme="dark"] {
  --primary: #14b8a6;
  --white: #21213c;
  --white-2: rgba(0, 0, 0, 0.24);
  --white-3: #f4f4f4;
  --white-4: rgba(255, 255, 255, 0.06);
  --black: #fff;
  --black-2: #000;
  --black-3: #CBD5E1;
  --black-4: rgba(0, 0, 0, 0.48);
  --red: #ef4444;
  --blue: #6366f1;
  --violet: #c4b5fd;
  --violet-2: #1E293B;
  --gradient: linear-gradient(135deg, rgba(76, 29, 149, 0) 0%, #4c1d95 100%);
}

$primary: var(--primary);
$white: var(--white);
$white-2: var(--white-2);
$white-3: var(--white-3);
$white-4: var(--white-4);
$black: var(--black);
$black-2: var(--black-2);
$black-3: var(--black-3);
$black-4: var(--black-4);
$violet: var(--violet);
$violet-2: var(--violet-2);
$red: var(--red);
$blue: var(--blue);
$gradient: var(--gradient);

$font-primary: "Verdana", sans-serif;
