/*
* Remix Icon v3.4.0
*/
@font-face {
  font-family: "remixicon";
  src: url("../font-remix-icons/remixicon.eot?t=1687271883607"); /* IE9*/
  src: url("../font-remix-icons/remixicon.eot?t=1687271883607#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../font-remix-icons/remixicon.woff2?t=1687271883607")
      format("woff2"),
    url("../font-remix-icons/remixicon.woff?t=1687271883607") format("woff"),
    url("../font-remix-icons/remixicon.ttf?t=1687271883607") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url("../font-remix-icons/remixicon.svg?t=1687271883607#remixicon")
      format("svg"); /* iOS 4.1- */
  font-display: swap;
  /* Prioritize text readability, then show icons */
}

[class^="ri-"],
[class*=" ri-"] {
  font-family: "remixicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-dashboard-line:before {
  content: "\ec14";
}

.ri-lightbulb-line:before {
  content: "\eea9";
}

.ri-article-line:before {
  content: "\ea7e";
}

.ri-book-open-line:before {
  content: "\eadb";
}

.ri-flashlight-line:before {
  content: "\ed3d";
}

.ri-mail-send-line:before {
  content: "\eefc";
}

.ri-seedling-line:before {
  content: "\f0d5";
}

.ri-bubble-chart-line:before {
  content: "\eb03";
}

.ri-bar-chart-fill:before {
  content: "\ea99";
}

.ri-sun-line:before {
  content: "\f1bf";
}

.ri-moon-line:before {
  content: "\ef75";
}

.ri-user-received-line:before {
  content: "\f26a";
}

.ri-account-circle-line:before {
  content: "\ea09";
}

.ri-arrow-right-line:before {
  content: "\ea6c";
}

.ri-arrow-left-line:before {
  content: "\ea60";
}

.ri-arrow-right-s-line:before { content: "\ea6e"; }

.ri-arrow-left-s-line:before { content: "\ea64"; }

.ri-check-line:before { content: "\eb7b"; }

.ri-command-line:before {
  content: "\ebb8";
}

.ri-add-line:before { content: "\ea13"; }
