.input {
  display: flex;
  width: 100%;
  font-size: 14px;

  input,
  textarea {
    width: 100%;
    padding: 1.42em;
    resize: unset;
    border: 1px solid transparent;
    color: $black;
    background: transparent;
    transition: 0.3s ease-in;

    font-family: $font-primary;
    font-weight: 400;
    &::placeholder {
      color: $black;
      @include transition;
    }
  }

  input:focus,
  textarea:focus {
    border-color: $primary;
  }
  &--text {
    width: 100%;
    input,
    textarea {
      border: 1px solid $white;
      background: $white-2;
      backdrop-filter: blur(16px);
      border-radius: 12px;
      &:hover {
        &::placeholder {
          opacity: 0.7;
        }
      }
    }
    textarea {
      min-height: 158px;
    }
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3em 1.5em;
  border: 1px solid transparent;

  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease;
  font-family: $font-primary;

  &--primary {
    color: $white;
    // background: $primary;
    border-radius: 12px;
    backdrop-filter: blur(16px);
    position: relative;
    border-color: $primary;
    &._ico {
      gap: 8px;
      font-size: 14px;
      padding: 0.855em 1.7em;
      .ico {
        font-size: 1.7em;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $primary;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      z-index: -1;
      transition: all 0.3s ease;
      opacity: 1;
      pointer-events: none;
    }
    &:hover {
      // background: transparent;
      &::before {
        opacity: 0.2;
      }
    }
    @include inDarkMode {
      color: #fff;
    }
  }
  &--ico {
    padding: 0 !important;
    .ico {
      font-size: inherit;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &--icoBorder {
    width: 3em;
    height: 3em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    background: $white-2;
    backdrop-filter: blur(16px);
    border-radius: 50%;
    position: relative;
    .ico {
      font-size: 1.5em;
      color: $black;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: $primary;
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }
    &:hover {
      border-color: $primary;
      &::before {
        opacity: 0.1;
      }
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  &--border {
    font-size: 14px;
    color: $black-3;
    padding: 1.18em 1.65em;
    border-radius: 32px;
    border: 1px solid $white;
    background: $white-2;
    backdrop-filter: blur(16px);
    white-space: nowrap;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $primary;
      pointer-events: none;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      transition: 0.3s ease;
    }
    &:hover {
      &::before {
        opacity: 0.1;
      }
    }
    &.active {
      color: $primary;
      border-color: $primary;
      &::before {
        opacity: 0.1;
      }
    }
  }

  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
    pointer-events: none;
  }
}
.ratioImage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}
.badge {
  border-radius: 100px;
  padding: 0.3em 0.5em;

  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}
.checkbox {
  display: inline-flex;
  position: relative;
  font-size: 1em;
  z-index: 0;

  input {
    width: 1.5em;
    height: 1.5em;
    z-index: 1;
    font-size: inherit;
    opacity: 0;
    cursor: pointer;
    &:checked + .checkbox__ico {
      background: $primary;
      &::before {
        opacity: 1;
      }
    }
  }
  .checkbox__ico {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    &::before {
      opacity: 0;
      transition: 0.3s ease-in-out;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1.5px solid $primary;
      box-sizing: border-box;
      border-radius: inherit;
    }
  }
  &__outer {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.75em;
    border-radius: 0.75em;
    border: 1px solid $white;
    background: $white-2;
    backdrop-filter: blur(16px);
    padding: 1.25em;
    label {
      font-size: 0.875em;
      font-weight: 500;
      cursor: pointer;
      line-height: 1.4em;
    }
  }
}
.custIcon {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 0.8em;
  width: 0.8em;
  color: inherit;

  &--left {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
  &--rtArr {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--right {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }
  &--up {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-bottom: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--down {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      // border-top: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--cross {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      // background: $black;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--tick {
    margin-right: 5px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      height: 80%;
      // border-bottom: 2px solid $black;
      // border-right: 2px solid $black;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--dots {
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $black;
    transition: 0.2s ease-in;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: inherit;
      transition: 0.2s ease-in;
    }
    &:before {
      left: calc(100% + 0.75em);
    }
    &:after {
      right: calc(100% + 0.75em);
    }
    &.active {
      width: 4.5em;
      border-radius: 2px;
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  &--rounded {
    font-size: inherit;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    // background: $primary;

    &:after {
      top: 45%;
      width: 25%;
      height: 50%;
      // border-color: $black;
    }
  }
}
.noBreak {
  white-space: nowrap;
}
.text {
  &--primary {
    color: $primary;
  }
}
.range {
  display: flex;
  height: 30px;
  position: relative;
  z-index: 0;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 32px;
    z-index: 1;
    opacity: 0;

    ///position
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:disabled {
      cursor: default;
    }
  }
  &-track {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: $white;
    border-radius: 50px;
    overflow: hidden;
    transform: translateY(-50%);
    @include inDarkMode {
      background: #fff;
    }
  }
  &-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: $primary;
    border-radius: 0;
    box-shadow: -1000px 0 0 990px $primary;
    transition: 0.07s ease-out;
  }
  &-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 32px;
    border: 1px solid $white;
    backdrop-filter: blur(16px);
    padding: 5px 11px;
    font-size: 12px;
    line-height: 1.4;
    color: $primary;
    white-space: nowrap;
    background: $white;
    transition: 0.07s ease-out;

    @include inDarkMode {
      border-color: #8c8c9c;
      background: #0d0c0e;
    }
  }
}
.purple-sphere {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 75% 30%,
    #fff 5px,
    $primary 8%,
    // #161226 75%,
    #64748b 100%
  );
  border-radius: 50%;
  opacity: 0.7;
  overflow: hidden;
  z-index: -1;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #c4b5fd;
    mix-blend-mode: color;
    z-index: -1;
    display: none;
    @include inDarkMode {
      display: block;
    }
  }
  &-wrapper {
    width: 100%;
    padding-bottom: 100%;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.align--right {
  text-align: right;
}

.color--primary {
  color: var(--primary);
}
.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  & > div {
    position: absolute;
    border: 4px solid $primary;
    opacity: 1;
    border-radius: 50%;
    animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
  &__wrapper {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@keyframes spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

// ----------------------------
@mixin components-1024-1024 {
  .input {
    input {
      padding: 1.2em;
    }
    &--text {
      textarea {
        min-height: 130px;
      }
    }
  }
  .checkbox {
    &__outer {
      font-size: 14px;
    }
  }
}
@mixin components-1024-950 {
  .button {
    &--border {
      border-radius: 25px;
    }
  }
}
// ----------------------------
@mixin components-1280 {
}
@mixin components-1160 {
}
@mixin components-1023 {
}
@mixin components-768 {
}
@mixin components-580 {
  .button {
    &--border {
      padding: 0.9em 1.1em;
    }
  }
}
@mixin compoennts-460 {
}
@mixin components-390 {
  .button {
    &--primary {
      padding: 16px 15px;
    }
  }
  .input {
    &--text {
      input {
        padding: 14px 15px;
      }
    }
  }
}
