.header {
  padding: 26px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-box {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    &-container {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    h4 {
      font-weight: 600;
    }
    .burger {
      // display: none;
    }
    ._menu {
      display: none;
    }
    .button {
      .icon-sun {
        display: none;
      }
      @include inDarkMode {
        .icon-sun {
          display: block;
        }
        .icon-moon {
          display: none;
        }
      }
    }
  }
}
.sidebar {
  position: fixed;
  top: 32px;
  left: 32px;
  height: calc(100% - 64px);
  width: 288px;
  z-index: 5;
  &__inner {
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px 16px 16px;
    border: 1px solid $white;
    background: $white-2;
    backdrop-filter: blur(16px);
    &-group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1 0 0;
      overflow: auto;
    }
    h4 {
      font-weight: 600;
      text-align: center;
    }
  }
  &Switch {
    position: absolute;
    top: 20px;
    right: -1em;
    border: 1px solid $white;
    background: $white-2;
    backdrop-filter: blur(16px);
    // display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    width: 2em;
    height: 2em;
    display: none;
    cursor: pointer;
    .ico {
      font-size: 1.2em;
      color: $black;
      transition: 0.3s ease;
    }
    &:hover {
      .ico {
        color: $blue !important;
      }
    }
  }
  &Link {
    display: flex;
    font-size: 14px;
    gap: 0.85em;
    padding: 1.42em;
    transition: 0.3s ease;
    color: $black-3;
    border-radius: 12px;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $primary;
      pointer-events: none;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      transition: 0.3s ease;
    }
    .ico {
      font-size: 1.71em;
      color: inherit;
      transition: 0.3s ease;
    }
    &__text {
      font-size: 1em;
      font-weight: 500;
      color: inherit;
      transition: 0.3s ease;
    }
    &:hover {
      &::before {
        opacity: 0.1;
      }
      border-color: $primary;
    }
    &._footer {
      margin-top: auto;
      background: $white-2;
      border-color: $white;
      backdrop-filter: blur(16px);
    }
    &.active {
      background: $white-2;
      border-color: $white;
      backdrop-filter: blur(16px);
      color: $primary;
    }
  }
}
.burger {
  cursor: pointer;
  display: block;
  font-size: 10px;
  width: 16px;
  height: 12px;
  color: $black;
  background: transparent;
  transition: 0.3s ease;
  color: $black;
  // background: $primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include inDarkMode {
    color: #fff;
  }

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 1.5px;
    background-color: currentColor;
    border-radius: 0.4em;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translate(-50%, 0);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translate(-50%, 0);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $primary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}

// ------------
@mixin header-1024-950 {
  .header {
    padding: 14px;
  }
  .sidebar {
    top: 16px;
    height: calc(100% - 32px);
  }
}
// ------------
@mixin header-1280 {
  .sidebar {
    left: 15px;
    width: 260px;
  }
}
@mixin header-1160 {
  .sidebar {
    width: 60px;
    display: flex;
    align-items: flex-start;
    transition: 0.3s linear;
    &__inner {
      width: 60px;
      transition: 0.3s linear;
      border-radius: 10px;
      &-group {
        padding-top: 50px;
        gap: 30px;
      }
    }
    &Switch {
      display: flex;
      &.active {
        .ico {
          transform: rotate(180deg);
          color: $primary;
        }
      }
    }
    &Link {
      padding: 0;
      // gap: 0;
      // transition: 0.3s linear;
      transition: unset;
      white-space: nowrap;
      &:hover {
        border-color: transparent;
        &::before {
          opacity: 0;
        }
        color: $blue;
      }
      &.active {
        background: transparent;
        border-color: transparent;
        backdrop-filter: unset;
      }
      &._footer {
        background: transparent;
        border-color: transparent;
        backdrop-filter: unset;
      }
    }
    h4 {
      display: none;
    }
    &.active {
      width: 100%;
      .sidebar {
        &__inner {
          width: 200px;
        }
      }
    }
  }
}
@mixin header-1023 {
  // .header {
  //   padding: 25px 0;

  //   &__inner {
  //     justify-content: space-between;

  //     &-logo {
  //       padding-right: 20px;
  //       border-right: 2px solid rgba($white, 0.27);
  //       border: 0;
  //     }
  //     .burger {
  //       display: block;
  //       z-index: 2;
  //     }
  //   }
  // }
  // .nav {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba($black, 0.4);
  //   backdrop-filter: blur(4px);
  //   z-index: 0;
  //   transform: translate(100%);
  //   opacity: 0;
  //   pointer-events: none;
  //   transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;

  //   &__inner {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 35%;
  //     min-width: 280px;
  //     height: 100%;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     justify-content: flex-start;
  //     box-sizing: border-box;
  //     background: $white;
  //     box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
  //     padding: 50px 25px;
  //     transform: translate(-100%);
  //     opacity: 0;
  //     transition: 0.15s ease-in-out 0s;

  //     &-group {
  //       flex-direction: column;
  //       align-items: flex-start;
  //       padding: 25px 0;
  //       gap: 8px;
  //       color: $black;
  //       border-top: 1px solid $white;
  //       width: 100%;

  //       &:first-child {
  //         border: 0;
  //       }
  //     }
  //     &-link {
  //       color: $black;

  //       &:after {
  //         left: 0;
  //         top: 50%;
  //         width: 2px;
  //         height: 80%;
  //         transform: translateY(-50%);
  //       }

  //       &:hover {
  //         &:after {
  //           width: 2px;
  //           height: 100%;
  //         }
  //       }
  //     }
  //   }

  //   &.active {
  //     pointer-events: all;
  //     transform: translate(0);
  //     opacity: 1;
  //     transition: opacity 0.3s ease-in-out;

  //     .nav__inner {
  //       opacity: 1;
  //       transition: 0.3s ease-in-out 0.05s;
  //       transform: translate(0);
  //     }
  //   }
  // }
  .header {
    padding: 15px 0;
  }
  .sidebar {
    top: 15px;
    height: calc(100% - 30px);
  }
}
@mixin header-768 {
  .sidebar {
    left: 5px;
  }
}
@mixin header-460 {
  .header {
    padding: 24px 0;
    h4 {
      font-size: 20px;
    }
  }
  .sidebar {
    width: calc(100% - 48px);
    height: 64px;
    top: unset;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    &__inner {
      width: 100%;
      height: 100%;
      padding: 15px 20px;
      &-group {
        flex-direction: row;
        padding-top: unset;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        gap: 15px;
      }
    }
    &Switch {
      display: none;
    }
    &Link {
      &__text {
        display: none;
      }
    }
  }
}
@mixin header-390 {
  .header {
    padding: 15px 0;
    .button {
      font-size: 14px;
    }
  }
  .sidebar {
    width: calc(100% - 30px);
    bottom: 20px;
  }
}
