@media (min-width: 1024px) and (max-height: 1024px) {
  @include typography-1024-1024;
  @include components-1024-1024;
  @include layouts-1024-1024;
}
@media (min-width: 1024px) and (max-height: 950px) {
  @include typography-1024-950;
  @include components-1024-950;
  @include header-1024-950;
  @include layouts-1024-950;
}

@media (max-width: 1280px) {
  .autoContainer {
    padding: 0 24px;
  }
  @include components-1280;
  @include header-1280;
  @include layouts-1280;
}
@media (max-width: 1160px) {
  @include components-1160;
  @include header-1160;
  @include layouts-1160;
}
@media (max-width: 1023px) {
  @include components-1023;
  @include header-1023;
  @include layouts-1023;
}

@media (max-width: 940px) {
  @include layouts-940;
}
@media (max-width: 768px) {
  @include components-768;
  @include typography-768;
  @include header-768;
  @include layouts-768;
}
@media (max-width: 580px) {
  @include typography-580;
  @include components-580;
  @include layouts-580;
}
@media (max-width: 460px) {
  @include typography-460;
  @include compoennts-460;
  @include header-460;
  @include layouts-460;
}

@media (max-width: 390px) {
  .autoContainer {
    padding: 0 15px;
  }
  @include typography-390;
  @include components-390;
  @include header-390;
  @include layouts-390;
}

// @media( max-height:758px  min width 1025px  screen{

// })

